<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><?php echo $title; ?></title>
    <link rel="stylesheet" href="template/zg2/css/style.css"/>
    <script src="template/zg2/js/jquery-1.8.3.min.js"></script>
    <script src="template/zg2/js/adv_plugin.js"></script>

</head>
<body style="background-color:#4FA9FF;">

<?php if (isset($_GET['p'])){
 if($_GET['p']=='zgsuccess'){
 ?>
<div id="big_bag">
</div>
<div id="alert">
    <img src="template/zg2/images/zgym-tckbj.png" class="alert_img1"/>
    <a href="<?php echo str_replace('index.php/','',$_SERVER['PHP_SELF']); ?>"><img
            src="template/zg2/images/zgym-an.png" class="alert_img2"/></a>
    <a href="<?php echo str_replace('index.php/','',$_SERVER['PHP_SELF']); ?>"><img src="template/zg2/images/zgym-X.png"
                                                                                    class="alert_img3"/></a>
</div>
<?php }} ?>

<?php if (isset($_GET['p'])){
 if($_GET['p']=='sgsuccess'){
 ?>
<div id="big_bag">
</div>
<div id="alert">
    <img src="template/zg2/images/sg_window.png" class="alert_img1"/>
    <a href="<?php echo str_replace('index.php/','',$_SERVER['PHP_SELF']); ?>"><img
            src="template/zg2/images/zgym-an.png" class="alert_img2"/></a>
    <a href="<?php echo str_replace('index.php/','',$_SERVER['PHP_SELF']); ?>"><img src="template/zg2/images/zgym-X.png"
                                                                                    class="alert_img3"/></a>
</div>
<?php }} ?>

<div id="dody_txt">
    <div class="top_img">
        <div style="background-image: url('template/zg2/images/top_img_04.jpg') ; width: 100%; height: 463px; background-repeat: no-repeat; background-position: center center; "></div>
    </div>
    <div class="banner">
        <div class="center">
            <img src="template/zg2/images/dn_09.png" class="img2"/>
        </div>
        <div class="rigths">
            <div class="top_input">
                <img src="template/zg2/images/1_09.png" class="img1 ims2"/>

                <form action="action.php" method="post" onsubmit="return check()">
                    <input name="username" type="text" placeholder="股票代码或名称" class="tet"/> <span
                        class="span_tet">马上测一测</span>
                    <input name="laiurl" type="hidden" value="<?php echo $laiyuan1; ?>">
                    <input type="text" name="mobile" placeholder="接受诊断结果的手机号码" class="tet"/>
                    <input type="submit" class="sub" value=""/>
                </form>
                <img src="template/zg2/images/btn.png" class="btn_img"/>
            </div>
            <img src="template/zg2/images/xin.png" class="xin"/>

            <div class="top_gund">
                <div class="demo1">
                    <ul class="mulitline">
                        <li>155****0987 &nbsp;&nbsp;&nbsp;<span>广博股份</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>186****5739 &nbsp;&nbsp;&nbsp;<span>002243&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>186****6879 &nbsp;&nbsp;&nbsp;<span>华自科技</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>150****9386 &nbsp;&nbsp;&nbsp;<span>601989&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>138****0721 &nbsp;&nbsp;&nbsp;<span>600201&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>185****5367 &nbsp;&nbsp;&nbsp;<span>000338&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>132****5735 &nbsp;&nbsp;&nbsp;<span>600521&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>157****3697 &nbsp;&nbsp;&nbsp;<span>弘高创意</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>158****1213 &nbsp;&nbsp;&nbsp;<span>601618&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>136****0225 &nbsp;&nbsp;&nbsp;<span>002375&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>158****2892 &nbsp;&nbsp;&nbsp;<span>中国中冶</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>156****7886 &nbsp;&nbsp;&nbsp;<span>002197&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>185****1368 &nbsp;&nbsp;&nbsp;<span>300459&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>139****6452 &nbsp;&nbsp;&nbsp;<span>山水文化</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>189****1552 &nbsp;&nbsp;&nbsp;<span>300490&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>188****0223 &nbsp;&nbsp;&nbsp;<span>600806&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>138****6183 &nbsp;&nbsp;&nbsp;<span>梅雁吉祥</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>180****0712 &nbsp;&nbsp;&nbsp;<span>亚厦股份</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>139****9182 &nbsp;&nbsp;&nbsp;<span>002292&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>136****6891 &nbsp;&nbsp;&nbsp;<span>002226&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>187****9276 &nbsp;&nbsp;&nbsp;<span>600549&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>151****1675 &nbsp;&nbsp;&nbsp;<span>证通电子</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>137****7021 &nbsp;&nbsp;&nbsp;<span>300135&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>158****0216 &nbsp;&nbsp;&nbsp;<span>002011&nbsp;</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>135****7531 &nbsp;&nbsp;&nbsp;<span>昆明机床</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                        <li>158****1368 &nbsp;&nbsp;&nbsp;<span>盾安环境</span>&nbsp;&nbsp;诊断结果已经发送到您手机</li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="txt"><p class="txt_1">诊股成功案例</p></div>

        <div class="cencer">
            <div id="adv">
                <a id="prev"><img src="template/zg2/images/prev.png" class="img4"/></a>
                <a id="next"><img src="template/zg2/images/next.png" class="img5"/></a>
                <ul id="adv1">
                    <li class="adv_li"><a href="#"><img src="template/zg2/images/lunbo1.jpg" class="img_sie"/></a></li>
                    <li class="adv_li"><a href="#"><img src="template/zg2/images/lunbo2.jpg" class="img_sie"/></a></li>
                    <li class="adv_li"><a href="#"><img src="template/zg2/images/lunbo3.jpg" class="img_sie"/></a></li>

                </ul>
            </div>

        </div>
        <p class="txt_3">不想诊股？那换只牛股吧！</p>

        <div class="bot">
            <img src="template/zg2/images/zgym_18.jpg" class="img6"/>

            <form action="action.php" method="post" class="form_2">
                <input type="text" name="mobile" class="input_2" placeholder="输入接收信息的手机号码"
                       onfocus="javascript:if(this.value=='请输入内容')this.value='';"/>
                <input name="laiurl" type="hidden" value="<?php echo $laiyuan2; ?>">
                <input name="users" type="hidden" id="txb_stock" class="stock" value="无股票代码">
                <input type="submit" class="btn_2"/>
                <img src="template/zg2/images/btn66_20.png" class="btn_img_1"/>
            </form>
        </div>
        <div class="bot_2"></div>
    </div>
    <div class="bot_img4"><img src="template/zg2/images/img14_20.jpg" style="width: 100%"></div>
    <script>
        window.onload = function () {
            move(4000);
        }
    </script>
    <script>
        function check() {
            if ($("#mobile").val() == '') {
                alert('手机号码不能为空！');
                return false;
            }
        }
        $(function () {
            //多行应用
            var _wrap = $('ul.mulitline'); //定义滚动区域
            var _interval = 3000; //定义滚动间隙时间
            var _moving; //需要清除的动画
            _wrap.hover(function () {
                clearInterval(_moving); //当鼠标在滚动区域中时,停止滚动
            }, function () {
                _moving = setInterval(function () {
                    var _field = _wrap.find('li:first'); //此变量不可放置于函数起始处，li:first取值是变化的
                    var _h = _field.height(); //取得每次滚动高度
                    _field.animate({marginTop: -_h + 'px'}, 600, function () {//通过取负margin值，隐藏第一行
                        _field.css('marginTop', 0).appendTo(_wrap); //隐藏后，将该行的margin值置零，并插入到最后，实现无缝滚动
                    })
                }, _interval)//滚动间隔时间取决于_interval
            }).trigger('mouseleave'); //函数载入时，模拟执行mouseleave，即自动滚动
        });

        /************/
        //           $(".sub").click(function(){
        //              $("#alert").css("display","block");
        //               $("#big_bag").css("display","block");
        //           });
        //          $(".btn_2").click(function(){
        //              $("#alert").css({
        //                  "display":"block"});
        //              $("#big_bag").css("display","block");
        //          });
        //           $(".alert_img2").click(function(){
        //               $("#alert").css({
        //                   "display":"none"
        //               });
        //               $("#big_bag").css("display","none");
        //           });
        //          $(".alert_img3").click(function(){
        //              $("#alert").css("display","none");
        //              $("#big_bag").css("display","none");
        //          });


    </script>
    <div style="display:none">
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1259813167'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259813167%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
            $('cnzz_protocol').hide();
        </script>
    </div>
</div>








<script type="text/javascript">
    var default_view = 1;
    <!--1是默认展开，0是默认关闭，新开窗口看效果，别在原页面刷新-->
</script>
<script type="text/javascript" src="js/lanrenzhijia.js"></script>
<!--在线客服代码 结束-->
<script type="text/javascript">
    //表单提交时解除绑定事件
    $('form').submit(function () {
        $(window).unbind('beforeunload');
    });
    //表单提交成功后解除绑定事件
    $('a').click(function () {
        $(window).unbind('beforeunload');
    });
    //关闭窗口和刷新是弹出提示
    $(window).bind('beforeunload', function () {
        return '系统检测到您要离开此页面！';
    });
</script>

<!--根据配置加载微信-->
<?php if($weixin){ ?>
<script type="text/javascript" src="template/public/weixin/etc/js.js"></script>
<link rel="stylesheet" type="text/css" href="template/public/weixin/etc/css.css"/>
<div id="online_service_bar">
    <div id="online_service_minibar"></div>
    <div id="online_service_fullbar">
        <div class="service_bar_head"><span id="service_bar_close" title="点击关闭"></span></div>
        <div class="service_bar_main"
             style="background: url(template/public/weixin/<?php echo $weixin; ?>.png) no-repeat left top; height: 100px;">
            <img src="template/public/weixin/etc/x.png" style="position:absolute; right: -14px;top: 23px; width: 50px;height: 50px;">
        </div>
    </div>
</div>
<?php }?>

</body>
</html>