<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><?php echo $title; ?></title>
    <link rel="stylesheet" href="template/ng/css/style.css"/>
    <script src="template/ng/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<script type="text/javascript">
    var default_view = 1;
    <!--1是默认展开，0是默认关闭，新开窗口看效果，别在原页面刷新-->
</script>


<?php if (isset($_GET['p'])) { ?>
<div id="alert1"></div>
<div id="alert">
    <img src="template/ng/images/sgym-tckbj.png" clas="alert_img1"/>
    <a href="<?php echo str_replace('index.php/','',$_SERVER['PHP_SELF']); ?>"><img src="template/ng/images/sgym-an.png"
                                                                                    class="alert_img2"/></a>
    <a href="<?php echo str_replace('index.php/','',$_SERVER['PHP_SELF']); ?>"><img src="template/ng/images/sgym-X.png"
                                                                                    class="alert_img3"/></a>
</div>
<?php } ?>
<div id="baner">
    <div class="top_img">
        <img src="template/ng/images/bag.jpg" class="img_bag"/>

        <div class="img1">
            <img src="template/ng/images/logo.png" class="logo"/>
            <img src="template/ng/images/2.png" class="liu"/>
            <img src="template/ng/images/1.png" class="jin">
            <img src="template/ng/images/4.png" class="gao"/>
        </div>

    </div>
    <div class="bag">
        <div class="body_cencer">
            <div class="tet_1 mar">

                <img src="template/ng/images/tet_img.png" class="tet_img1"/>

                 <span>&nbsp;&nbsp;高送转闪亮登场，提前布局正当时！通过对两市近三千只个股深度扫描，综合历史数据特征形态，精选一批潜力黑马股，抢先布局爆发在即！</span>
                <img src="template/ng/images/tet_img2.jpg"/>

                <h3>002XXX</h3>

                <P>一丶“中药材涨价+深港通开通”双题材，刺激股价持续走强！</P>

                <p>二丶国内最大的藏药企业，业绩优良，外用止痛药物连续七年销量第一！</p>

                <p>三丶股价多头排列，筹码高度集中，缩量回踩五日线，精准狙击，三天获利超过15%+！！</p>
            </div>
            <div class="right">
                <img src="template/ng/images/gushi.jpg" class="posi" style="width:558px;height:346px;"/>

                <form action="action.php" method="post" onsubmit="return check()">

                    <input type="text" class="txt" name="mobile" id="phone" placeholder="输入接收信息的手机号码"/>
                    <input name="laiurl" type="hidden" value="<?php echo $laiyuan1; ?>">
                    <input name="users" type="hidden" id="txb_stock" class="stock" value="无股票代码">
                    <input type="submit" value=" " class="sub" onclick="checkPhone()"/>

                    <div class="btn_1">
                        <img src="template/ng/images/btn.png"/>
                    </div>
                    <h4 class="wenz">(为保证不影响主力节奏，每日免费索取牛股天机星名额仅限200名！)</h4>
                </form>
                <div class="houqu">
                    <img src="template/ng/images/hqu.png" class="hq"/>
                    <!---号码滚动区-->

                    <div class="demo1">
                        <ul class="mulitline">
                            <li>185****3471&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>135****8979&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>189****7951&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>132****8610&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>155****2689&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>158****6789&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>155****3289&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>131****6421&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>180****6785&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>189****8225&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>159****3185&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>138****0520&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>132****8566&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>186****0776&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                            <li>155****1213&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您成功参与
                        </ul>
                    </div>

                </div>
            </div>

        </div>


    </div>
    <div class="tab_bag">
        <div class="tab_bag1" style="left: 50%; ">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>股票（代码）</th>
                    <th>送出时间</th>
                    <th>介入价格</th>
                    <th>持有收益</th>
                </tr>
                <tr>
                    <td>金路集团（000510）</td>
                    <td>20161104</td>
                    <td>9.51</td>
                    <td>51.1%</td>
                </tr>
                <tr>
                    <td>正平股份（603843）</td>
                    <td>20161102</td>
                    <td>21.1</td>
                    <td>50.8%</td>
                </tr>
                <tr>
                    <td>通用股份（601500）</td>
                    <td>20161101</td>
                    <td>18.2</td>
                    <td>57.1%</td>
                </tr>
            </table>
        </div>
        <div class="bot_img">
            <img src="template/ng/images/bot.png" style="width: 100%;"/>
        </div>
    </div>
</div>


</div>

<script language="javascript" type="text/javascript">
    $(function () {
        //多行应用
        var _wrap = $('ul.mulitline'); //定义滚动区域
        var _interval = 3000; //定义滚动间隙时间
        var _moving; //需要清除的动画
        _wrap.hover(function () {
            clearInterval(_moving); //当鼠标在滚动区域中时,停止滚动
        }, function () {
            _moving = setInterval(function () {
                var _field = _wrap.find('li:first'); //此变量不可放置于函数起始处，li:first取值是变化的
                var _h = _field.height(); //取得每次滚动高度
                _field.animate({marginTop: -_h + 'px'}, 600, function () {//通过取负margin值，隐藏第一行
                    _field.css('marginTop', 0).appendTo(_wrap); //隐藏后，将该行的margin值置零，并插入到最后，实现无缝滚动
                })
            }, _interval)//滚动间隔时间取决于_interval
        }).trigger('mouseleave'); //函数载入时，模拟执行mouseleave，即自动滚动
    });
    function check() {
        if ($("#phone").val() == '') {
            alert('手机号码不能为空！');
            return false;
        }
    }

    ///*****************/
    /**function checkPhone(){
            var phone = $('#phone').val();
            if(phone.length ==11){
                var reg = /^13[0-9]{1}[0-9]{8}$|15[012356789]{1}[0-9]{8}$|18[012356789]{1}[0-9]{8}$|147[0-9]{8}$/;
                if(reg.test(phone)){
                    alert("提交成功");

                }else{
                    alert("手机号码有误，请重填");
                    return false;
                }
            }else{
                alert("手机号码必须为11位");
            }
        }**/
        ///******/
        //        $(".sub").click(function(){
        //           $("#alert").css("display","block");
        //            $("#alert1").css("display","block");
        //        });
    $(".alert_img2").click(function () {
        $("#alert").css("display", "none");
        $("#alert1").css("display", "none");
    })
    $(".alert_img3").click(function () {
        $("#alert").css("display", "none");
        $("#alert1").css("display", "none");
    })
</script>
<script type="text/javascript">
    //表单提交时解除绑定事件
    $('form').submit(function () {
        $(window).unbind('beforeunload');
    });
    //表单提交成功后解除绑定事件
    $('a').click(function () {
        $(window).unbind('beforeunload');
    });
    //关闭窗口和刷新是弹出提示
    $(window).bind('beforeunload', function () {
        return '系统检测到您要离开此页面！';
    });
</script>

<div style="display:none">
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1259813167'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259813167%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
        $('cnzz_protocol').hide();
    </script>

</div>

<!--根据配置加载微信-->
<?php if($weixin){ ?>
<script type="text/javascript" src="template/public/weixin/etc/js.js"></script>
<link rel="stylesheet" type="text/css" href="template/public/weixin/etc/css.css"/>
<div id="online_service_bar">
    <div id="online_service_minibar"></div>
    <div id="online_service_fullbar">
        <div class="service_bar_head"><span id="service_bar_close" title="点击关闭"></span></div>
        <div class="service_bar_main"
             style="background: url(template/public/weixin/<?php echo $weixin; ?>.png) no-repeat left top; height: 100px;">
            <img src="template/public/weixin/etc/x.png" style="position:absolute; right: -14px;top: 23px; width: 50px;height: 50px;">
        </div>
    </div>
</div>
<?php }?>
</body>
</html>