<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>索股</title>
		<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
		<link rel="stylesheet" href="css/style.css" />
  			
	</head>

	<body>
		<!---alert--->
		<div id="big-bag"></div>
		<div id="alert">
			<img src="img/alert.png" alt="" />
			<img src="img/001.png" class="alert-img1 off" />
			<img src="img/002.png" class="alert-img2 off" />
		</div>
		<div id="container">
			<div class="header">
				<img src="img/1.png" />
			</div>
			<div class="main max">
				<img src="img/3.png" />
			</div>
			<div class="content max">
				<img src="img/4.png" />
			</div>
			<div class="joinus max">
				
				<img src="img/5_01.png" class="img1" />
				<form action="" class="form1">
					<input type="text" class="input1" placeholder="请输入接收信息的手机号码" />
					<input type="button" class="btn1" />
					<img src="img/666.png" class="btn-bag" />
				</form>
				<div class="scroll">
						<img src="img/223.png" alt="" />
						 <div class="demo1">
                    <ul  class="mulitline">
                        <li>185****3471&nbsp;恭喜您成功参与免费获取活动
                        <li>135****8979&nbsp;恭喜您成功参与免费获取活动
                        <li>189****7951&nbsp;恭喜您成功参与免费获取活动
                        <li>132****8610&nbsp;恭喜您成功参与免费获取活动
                        <li>155****2689&nbsp;恭喜您成功参与免费获取活动
                        <li>158****6789&nbsp;恭喜您成功参与免费获取活动
                        <li>155****3289&nbsp;恭喜您成功参与免费获取活动
                        <li>131****6421&nbsp;恭喜您成功参与免费获取活动
                        <li>180****6785&nbsp;恭喜您成功参与免费获取活动
                        <li>189****8225&nbsp;恭喜您成功参与免费获取活动
                        <li>159****3185&nbsp;恭喜您成功参与免费获取活动
                        <li>138****0520&nbsp;恭喜您成功参与免费获取活动
                        <li>132****8566&nbsp;恭喜您成功参与免费获取活动
                        <li>186****0776&nbsp;恭喜您成功参与免费获取活动
                        <li>155****1213&nbsp;恭喜您成功参与免费获取活动
                    </ul>
                	</div>
				
				</div>
					<div class="content-img"><img src="img/003.png" alt="" /></div>	
            	<div class="gonen">
            		<div id="adv">
                    <a id="prev"><img src="img/prev.png" /></a>
                    <a id="next"><img src="img/next.png" /></a>
                    <ul id="adv1">
                        <li class="adv_li"><a href="#"><img src="img/01.png" /></a></li>
                        <li class="adv_li"><a href="#"><img src="img/02.png" /></a></li>
                        <li class="adv_li"><a href="#"><img src="img/03.png" /></a></li>
                    </ul>
                </div>
					<div class="bot">
						<img src="img/bot.png" alt="" />
					</div>
            	</div>

			</div>
			
		</div>
		 	
		<script type="text/javascript" src="js/js.js"></script>
		 <script>
           window.onload=function(){
               move(4000);
           }
       </script>
	</body>

</html>