<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>国诚买卖点诊股仪(<?php echo $laiyuan1; ?>)</title>
    <link rel="stylesheet" href="template/zg/css/style.css"/>
	
</head>
<body>
<div>
    <?php if (isset($_GET['p'])){ ?>
    <div id="alert1"></div>
    <div id="alert_img">
        <img src="template/zg/images/zgym-tckbj.png"/>
        <a href="<?php echo str_replace('index.php/','',$_SERVER['PHP_SELF']); ?>"><img src="template/zg/images/zgym-an.png" class="alert_img2"/></a>
        <a href="<?php echo str_replace('index.php/','',$_SERVER['PHP_SELF']); ?>"><img src="template/zg/images/zgym-X.png" class="alert_img3"/></a>
    </div>
    <?php } ?>

    <div class="top">
        <img src="template/zg/images/top.jpg"/>
    </div>


    <div class="computer">
        <img src="template/zg/images/zhi.png" class="zhi"/>

        <div class="rigths">
            <div class="top_input">
                <img src="template/zg/images/mai.png" class="img1"/>

                <form action="action.php" method="post" onsubmit="return check()">
                    <input type="text" name="username" id="code" placeholder="股票代码或名称" class="tet"/> <span
                        class="span_tet">马上测一测</span>
                    <input type="text" name="mobile" id="mobile" placeholder="接收诊断结果的手机号码" class="tet"/>
                    <input name="laiurl" type="hidden" value="<?php echo $laiyuan1; ?>">
                    <input type="submit" class="sub" value=""/>
                </form>
                <img src="template/zg/images/btn.png" class="btn_img"/>
            </div>
            <img src="template/zg/images/xin.png" class="xin"/>

            <div class="top_gund">


                <div class="demo1">
                    <ul class="mulitline">
                        <li>155****0987 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002292&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;奥飞动漫</li>
                        <li>186****5739 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002243&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通产丽星</li>
                        <li>186****6879 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300059&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;东方财富</li>
                        <li>150****9386 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;601989&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国重工</li>
                        <li>138****0721 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;600201&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生物股份</li>
                        <li>185****5367 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;000338&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;潍柴动力</li>
                        <li>132****5735 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;600521&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华海药业</li>
                        <li>157****3697 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;000930&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中粮生化</li>
                        <li>158****1213 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;601618&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国中冶</li>
                        <li>136****0225 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002375&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;亚厦股份</li>
                        <li>158****2892 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;600602&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仪电电子</li>
                        <li>156****7886 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002197&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证通电子</li>
                        <li>185****1368 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300459&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浙江金科</li>
                        <li>139****6452 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;000018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;神州长城</li>
                        <li>189****1552 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300490&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华自科技</li>
                        <li>188****0223 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;600806&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;昆明机床</li>
                        <li>138****6183 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;600868&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;梅雁吉祥</li>
                        <li>180****0712 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;600234&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;山水文化</li>
                        <li>139****9182 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002292&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;奥飞动漫</li>
                        <li>136****6891 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002226&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;江南化工</li>
                        <li>187****9276 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;600549&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门钨业</li>
                        <li>151****1675 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002103&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广博股份</li>
                        <li>137****7021 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300135&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝丽国际</li>
                        <li>158****0216 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;盾安环境</li>
                        <li>135****7531 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;000973&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;佛塑科技</li>
                        <li>158****1368 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002504&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;弘高创意</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="bot_img">
        <img src="template/zg/images/bot.jpg"/>
    </div>


</div>
<script src="template/zg/js/jquery-3.1.0.min.js"></script>
<script src="template/zg/js/style.js"></script>
<script>
    //    $(".sub").click(function () {
    //        $("#alert_img").css("display", "block");
    //        $("#alert1").css("display", "block");
    //    })
    $(".alert_img2").click(function () {
        $("#alert_img").css("display", "none");
        $("#alert1").css("display", "none");

    })
    $(".alert_img3").click(function () {
        $("#alert_img").css("display", "none");
        $("#alert1").css("display", "none");

    })
    function check() {
        if ($("#mobile").val() == ''){
            alert('手机号码不能为空！');
            return false;
        }
    }
	
</script>

<div style="display:none">
	<script type="text/javascript">
		var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259813167'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259813167%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
		$('cnzz_protocol').hide();
	</script>
</div>
<script type="text/javascript">
    //表单提交时解除绑定事件
    $('form').submit(function(){
        $(window).unbind('beforeunload');
    });
    //表单提交成功后解除绑定事件
    $('a').click(function(){
        $(window).unbind('beforeunload');
    });
    //关闭窗口和刷新是弹出提示
    $(window).bind('beforeunload',function(){
        return '系统检测到您要离开此页面！';
    });
</script>
<!--根据配置加载微信-->
<?php if($weixin){ ?>
<script type="text/javascript" src="template/public/weixin/etc/js.js"></script>
<link rel="stylesheet" type="text/css" href="template/public/weixin/etc/css.css"/>
<div id="online_service_bar">
    <div id="online_service_minibar"></div>
    <div id="online_service_fullbar">
        <div class="service_bar_head"><span id="service_bar_close" title="点击关闭"></span></div>
        <div class="service_bar_main"
             style="background: url(template/public/weixin/<?php echo $weixin; ?>.png) no-repeat left top; height: 100px;">
            <img src="template/public/weixin/etc/x.png" style="position:absolute; right: -14px;top: 23px; width: 50px;height: 50px;">
        </div>
    </div>
</div>
<?php }?>
</body>
</html>
