*{
    margin: 0px;
    padding: 0px;
}
 ul li {
     list-style-type:none;
 }

#bag{
    position: relative;

}
#big_bag{
    width: 100%;
    height: 120%;
    position: fixed;
    background: #000;
    z-index: 800;
    opacity: 0.5;
    display: none;
}
#alert{
    left: 50%;
    position: absolute;
    z-index: 800;
    margin: 0 auto;
    margin-left: -206px;
    top:45%;
    /*display: none;*/
}
.alert_img2{
    position: absolute;
    left: 31%;
    bottom: 6%;
    cursor: pointer;
}
.alert_img3{
    position: absolute;
    right: 0%;
    top: 0%;
    cursor: pointer;
}

.bag_img1{
    height: 1515px;
    width: 100%;
}

.body_tet{
    position: absolute;
    top:19%;
    left: 50%;
    width: 1060px;
    height:1000px;
    margin-left:-530px;


}
.top_tet{
    position: absolute;
    top: 5%;
    left: 30%;
    margin:  0 auto;
}
.top_tet_1{
    position: absolute;
    top:15%;
    left: 15%;
}
.top_tet_2{
    position: absolute;
    top:15%;
    left: 57%;
}

.left{
    float: left;
}
.right{
    float: left;
    margin-left: 8%;
}
.form_1{
    position: absolute;
    width: 50%;
    height: 9%;
    top: 39%;
    right: 3%;
    z-index: 600;

}
.input_1{
    width: 260px;
    height: 53px;
     margin-top: 1%;
    margin-left: 0%;
    font-size: 16px;
}
.btn_1{
    margin-left:20px;
    margin-top: 13px;
    width:195px;
    height: 39px;
    position: absolute;
    z-index: 1000;
    opacity:0;
    filter:Alpha(Opacity=0);
    cursor:pointer;

}
.btn_img{
    position: absolute;

    right: 6%;
}
.tet_3{
    position: absolute;
    top: 46%;
    right: 7%;
    color: yellow;
    font-size: 15px;
    text-align: center;
}
.iphone{
    position: absolute;
    width: 492px;
    height: 41px;
    background: #fff;
    top: 49%;
   right: 6%;

}
.iphone_img{
 margin-top: 1%;
}
.demo1{
    margin-left: 30%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    margin-top: -7%;
}
.tet_5{
    margin-left: -9%;
    margin-top: 4%;
}
.bot{
    position: relative;
}
.bot_img{
    width: 1060px;
    margin-top: 2%;
}

#adv{
    position:absolute;
    cursor:pointer;
    width:554px;
    height:348px;
    border:1px solid #999999;
    margin:0 auto;
    overflow:hidden;
    top:683px;
    left: 30px;
}
#adv:hover #prev,#adv:hover #next{
    display:block;
}
#coord{
    position:absolute;
    bottom:10px;
    right:100px;
}
.coordNum{
    float:left;
    width:5px;
    height:5px;
    padding:5px;
    margin-left:5px;
    border-radius:50%;
    background-color:#ccc;
    color:#fff;
    cursor:pointer;
}
#coord .hover{
    background-color:#C90000;
    color:#000;
}
#adv1{
    position:absolute;
    left:0;

}
#adv1 .adv_li{
    float:left;
}
#prev{
    position:absolute;
    left:10px;
    top:40%;
    z-index:10;
    opacity:0.3;
    display:none;
}
#next{
    position:absolute;
    right:10px;
    top:40%;
    z-index:10;
    opacity:0.3;
    display:none;
}
#next:hover,#prev:hover{
    opacity:.7;
}
.form_2{
    width: 1060px;
    height: 105px;
    background: #c3100c;
    position: relative;
    bottom: 0%;
    left: 0%;
    margin-top: 5%;

}
.input_2{
    width: 539px;
    height: 50px;
    margin-left: 22px;
    margin-top: 25px;
    font-size: 22px;
    text-align: center;

}
.btn_2{
     width: 306px;
    height: 50px;
    margin-left: 110px;
    margin-top: 24px;
    position: absolute;
    z-index: 100;
    opacity:0;
    filter:Alpha(Opacity=0);/*100Ϊ��͸����0Ϊȫ͸��*/
    cursor:pointer;
}
.btn_img2{
position: absolute;
    top: 22px;
    right: 81px;
}

#alert1{
    width: 100%;
    height: 100%;
    position:fixed;
    background: #000;
    z-index: 500;
    opacity:0.5;
    /*display: none;*/
}

/**
 #alert1{
     width: 100%;
     height: 100%;
     position:fixed;
     background: #000;
     z-index: 500;
    opacity:0.5;
     display: none;
 }

 .mar{
    margin-left: 180px;

 }

.logo{
    position: absolute;
    left:176px;
    top:30px;

}
.liu{
    position: absolute;
    top:25px;
    left: 428px;
}
.jin{
    position: absolute;
    top:224px;
    left: 410px
}
.gao{
    position: absolute;
    top:224px;
    left: 615px
}
.img_bag{
    width: 100%;
}
.heima{
    position: absolute;
    top:155px;
    left: 588px;
}
.tet_1{
    width: 380px;
    height: 530px;
    background: #fff;
    position: relative;
    float: left;
}
.bag{
    width: 100%;
    background-color:#18191b;
    overflow: hidden;
    margin-top: -6px;
}
.bag .tet_1  .tet_img1{
    margin-top: -17px;
}
.bag .tet_1  span{
    width: 340px;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 8px;
    padding: 5px;


}
.bag .tet_1 h3{
    color:red;
    margin:15px 0px 0px 10px;

}
.bag .tet_1 p{
    color: #1a1a1c;
    font-weight: bold;
    padding: 18px;

}
.right{
    width: 590px;
    height: 530px;
    background: url("../images/right.gif");
    float: left;
    margin-left: 58px;
    position: relative;

}
.posi{
    margin: 20px 0px 0px 25px;
}
.txt{
    float: left;
    width: 250px;
    font-size: 18px;
    padding-left: 5px;
    height: 40px;
    margin-left: 55px;
    margin-top: 25px;
}
.btn_1{
    float: left;
    margin-top: 22px;
    margin-left: 10px;
}
.btn_1:hover{
    cursor:pointer;
}
.wenz{
    clear:both;
    color: yellow;
    font-size: 14px;
    text-align: center;
}
.houqu{
    width: 480px;
    height: 40px;
    background: #fff;
    margin: 0 auto;
    margin-top: 13px;
    position: relative;

}
.hq{
    margin-top: 4px;
}

.demo1{
    position: absolute;
    top:-6px;
}
.mulitline{
    height: 18px;
    font-size: 16px;
    overflow: hidden;
    margin-top: 17px;
}
.tab_bag{
    width:100% ;
    overflow: hidden;
    position: absolute;
    background: #18191b;
}
.tab_bag1{
    width: 1030px;
    height: 170px;
    background: #3a3b3d;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 177px;
    padding-top: 25px;
}

table{
    border:1px solid #fff;
    width: 1000px;
    height: 140px;
    margin: 0 auto;
}
table tr th{
    color:red;
    border:1px solid #fff;
}
table tr td{
    border:1px solid #fff;
    text-align: center;
    color: #fff;
}

.mulitline{
    margin-left:125px;

}
.sub{
    position:absolute;
    right: 61px;
    margin-top: 17px;
    width: 191px;
    height: 50px;
    opacity:0;
}
.sub:hover{
    cursor:pointer;
}
#alert{
    position: absolute;
    left: 37%;
    top: 68%;
    display: none;
    z-index: 600;
}
.alert_img2{
    position: absolute;
    left:30%;
    top:74%;
}
.alert_img2:hover{
    cursor:pointer;

}
.alert_img3{
    position: absolute;
    left:93%;
    top:0%;
}
.alert_img3:hover{
    cursor:pointer
}
form{
    margin-top: -9px;
}
.bot_img img{
    margin-bottom:-3px;
}


@media screen and ( min-width: 1920px){
    body{
        background: red;
    }


}

**/
